/* Scss Document */
%button {
  padding: 10px 20px;
  border:none;
}
div {
	padding:10px !important;
}
.submit {
  background-color:#AF2020;
  color:white;
  text-transform: uppercase; 
  font-size:20px;
  @extend %button;
}
%input {
  padding: 7px;
}
.musicInput {	
  @extend %input;
  margin-right:20px;
}